<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <title>SoleMateFinder</title>
    </head>
    <body>
        <div id="app">
            <div class="header">
                <a href="index.html" class="logo">
                    {{siteName}}
                </a>
                <div class="header-right">
                    <form @submit.prevent="search">
                        <input type="text" v-model="searchForm" id="searchForm" placeholder="Find your SoleMate">
                        <!--<input type="text" v-model="searchForm" id="searchForm">
                        <button @click="search">Search</button>-->
                    </form>
                </div>
            </div>
            <div class="search-results-container" v-if="searchQuery">
                <h1 v-if="searchCount > 0">Search results for "{{searchQuery}}"</h1>
                <h1 v-else-if="items.length>0">Search results</h1>
            </div>
            <div class="search-results-container">
                <h3 v-if="items.length>0">Showing {{offset+1}}-{{offset+limit}} of {{searchCount}} Products</h3>
            </div>
            <div class="products_container" v-if="items.length>0">
                <div v-for="item in items" class="product_card">
                    <a :href="hrefValue(item.sku_full)">
                        <div>
                            <img v-if="item.image_url" :src="item.image_url">
                            <img v-else src="https://via.placeholder.com/1000">
                        </div>
                        <div>
                            <!--Details of the shoe -->
                            <h3 v-text="getName(item.full_name)">{{ item.full_name }}</h3>
                        </div>
                    </a>
                </div>
            </div>
            <div v-else class="no-results-container">
                <h1>No results found</h1>
            </div> 
            <div class="pagination" v-if="items.length>0">
                <button v-if="offset>0" @click="Previous()">Previous</button>
                <button v-else disabled>Previous</button>
                <span>Page {{currentPage}} of {{maxPages}}</span>
                <button v-if="offset+limit<searchCount" @click="Next()">Next</button>
                <button v-else disabled>Next</button>

            </div>

            <div class="footer">
                <p>{{siteName}} © {{year}} | All rights reserved</p>
            </div>
        </div>
    </body>
    <script>
        const app = new Vue({
            el: '#app',
            data: {
                siteName: 'SoleMateFinder',
                year: new Date().getFullYear(),
                offset: 0,
                limit: 20,
                items: [],
                searchQuery: '',
                searchForm: '',
                searchCount: 0,
            },
            computed : {
                currentPage: function() {
                    return this.offset/this.limit + 1;
                },
                maxPages: function() {
                    return Math.ceil(this.searchCount/this.limit);
                }
            },
            created() {
                const urlParams = new URLSearchParams(window.location.search);
                this.searchQuery = urlParams.get('searchQuery') || '';
                this.fetchData();
            },
            watch: {
                
            },
            methods: {
                fetchData: function() {
                fetch('http://localhost:3000/search/?query=' + this.searchQuery+'&offset='+this.offset+'&limit='+this.limit)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    this.items = data;
                    fetch('http://localhost:3000/search/count/?query=' + this.searchQuery)
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                        return response.json();
                    })
                    .then(data => {
                        this.searchCount = data.count;
                    })
                    .catch(error => {
                        console.error('There has been a problem with your fetch operation:', error);
                    });
                })
                .catch(error => {
                    console.error('There has been a problem with your fetch operation:', error);
                });
                },
                search: function() {
                    window.location.href = 'index.html?searchQuery=' + this.searchForm;
                },
                hrefValue: function(sku_base) {
                    return 'shoes.html?sku_base=' + sku_base;
                },
                getName: function(full_name) {
                    if(full_name.split(' ').length >= 4) 
                        return full_name.split(' ')[0]+ ' ' + full_name.split(' ')[1] + ' ' + full_name.split(' ')[2]+ ' ' + full_name.split(' ')[3];
                    return full_name;
                },
                Next: function() {
                    this.offset += this.limit;
                    this.fetchData();
                },
                Previous: function() {
                    this.offset -= this.limit;
                    this.fetchData();
                }

            }
        });
    </script>
</html>