<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <title>Search</title>
    </head>
    <body>
        <div id="app">
            <div class="header">
                <a href="#default" class="logo">
                    {{siteName}}
                </a>
                <div class="header-right">
                    <input type="text" v-model="searchQuery" id="">
                    <button @click="search">Search</button>
                </div>
            </div>
            <!--products-->
            <!--display products
            <div v-for = "item in items" :key="item.id" class="product_card">
                <img v-if="item.image_url" :src="item.image_url" alt="Product image" class="product-image">
                <img v-else src="https://via.placeholder.com/1000" alt="Product image" class="product-image">
                <div class="product-details">
                    <p style="font-weight: bold;">{{ item.brand }}</p>
                    <h1>{{ item.full_name }}</h1>
                    <span>Product SKU: {{item.sku_full}}</span>
                </div>
            </div>-->
            <div class="products_container" v-if="items.length>0">
                <div v-for="item in items" class="product_card">
                    <a :href="hrefValue(item.sku_full)">
                        <div>
                            <img v-if="item.image_url" :src="item.image_url">
                            <img v-else src="https://via.placeholder.com/1000">
                        </div>
                        <div>
                            <!--Details of the shoe -->
                            <h3 v-text="getName(item.full_name)">{{ item.full_name }}</h3>
                        </div>
                    </a>
                </div>
            </div>
            <div v-else>
                <h1>No results found</h1>
            </div>

            <div class="footer">
                <p>{{siteName}} © {{year}} | All rights reserved</p>
            </div>
        </div>
    </body>
    <script>
        const app = new Vue({
            el: '#app',
            data: {
                siteName: 'SoleMateFinder',
                year: new Date().getFullYear(),
                offset: 0,
                limit: 20,
                items: [],
                searchQuery: '',
            },
            computed : {
                
            },
            created() {
                this.fetchData();
            },
            watch: {
                
            },
            methods: {
                fetchData: function() {
                fetch('http://localhost:3000/search/?query=' + this.searchQuery)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    this.items = data;
                })
                .catch(error => {
                    console.error('There has been a problem with your fetch operation:', error);
                });
                },
                search: function() {
                    this.fetchData();
                },
                hrefValue: function(sku_base) {
                    return 'shoes.html?sku_base=' + sku_base;
                },
                getName: function(full_name) {
                    if(full_name.split(' ').length >= 4) 
                        return full_name.split(' ')[0]+ ' ' + full_name.split(' ')[1] + ' ' + full_name.split(' ')[2]+ ' ' + full_name.split(' ')[3];
                    return full_name;
                }

            }
        });
    </script>
</html>